body {
    color:white;
    background-color:black;
}

.center{
    margin-right:auto;
    margin-left:auto;
    width:1000px;
}

header{
    text-align:left;
}

container h2{
    text-align:left;
    padding:10px 0px 20px 20px;
    letter-spacing:25px;
    font-family:monospace;
    border-bottom:1px solid white;
    margin-bottom:60px;
}

.product_list{
    display:flex;
    height:250px;
    margin-bottom:80px;
}

.flex{
    flex:1;
    margin-left:100px;
    letter-spacing:14px;
    line-height:165%;
}

.title{
    padding-left:15px;
}

.product_image{
    height:300px;
    width:300px;
}